h1 {
    text-align: center;
    color: #222;
}
body
    {
    font-family: sans-serif;
    font-weight: 100;
    padding: 10px;
    line-height: 1.5;
    text-align: center;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AE89BD
    ;
}
p {
    text-align: justify;
    padding: 5px;
}
.atte {
    text-align: center;
}
.caja {
    margin-top: 20px;
    width: 400px;
    height: 950px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #AE89BD;
    border: 1px solid #7D53F5;
    border-radius: 6px;
    box-shadow: 0 0 15px #7D53F5;
}
.corazones {
    text-align: center;
}
.juli {
    margin-top: 20px;
    width: 400px;
    height: 550px;
    border: 1px solid #7D53F5;
    border-radius: 6px;
    box-shadow: 0 0 15px #7D53F5;
}
.pie-de-pagina {
    margin-top: 0;
    width: 400px;
    height: 950px;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
}
